.subheader {
  color: #1e71bb;
  font-weight: 700;
  font-size: small;
  text-transform: uppercase;
}

.one-row {
  display: flex;
  flex-wrap: nowrap;
  left: 0;
  right: 0;
  bottom: 0;
}

.favorite {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-item {
  margin-bottom: 25px;
}

.parent {
  overflow: hidden;
  overflow-y: auto;
}

.search {
  margin-left: -15px;
  margin-top: 10px;
}

.search input[type='text'] {
  border: 0;
  width: 520px;
  font-size: 15px;
  color: rgb(163, 160, 160);
  &:focus {
    outline: none;
  }
}

button[type='submit'] {
  color: white;
  font-size: 15px;
  font-weight: 600;
  background-color: #bb1e1e;
  border-radius: 5px;
  height: 35px;
  width: 90px;
  border: none;
  &:hover {
    background-color: #bb1e1e;
    cursor: pointer;
  }
}

::placeholder {
  color: rgb(163, 160, 160);
}

.searchInput {
  display: flex;
  padding: 15px;
  height: 45px;
  width: 700px;
}

.searchButton {
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  display: grid;
  place-items: center;
}

.searchIcon {
  height: 45px;
  width: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  display: grid;
  place-items: center;
  color: rgb(163, 160, 160);
}

.line {
  height: 1px;
  background: rgba(235, 230, 230, 0.705);
}

.news-container {
  display: flex;
  gap: 1rem;
}

.widget-wrapper {
  width: 300px;
  height: 600px;
  margin-right: 1rem;
}

.card-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-container-2 {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 860px) {
  .widget-wrapper {
    display: none;
  }

  .card-container-2 {
    flex: 1;
  }
}

@media screen and (max-width: 860px) {
  .searchButton {
    visibility: hidden;
  }

  .search input[type='text'] {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 520px;
  }
}

@media screen and (max-width: 810px) {
  .widget-wrapper {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .search input[type='text'] {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 265px;
  }
}
