.push-left {
  float: left;
  margin-right: 20px;
  margin-top: 25px;
}

.buttons {
  height: 65px;
  width: 65px;
  text-align: center;
  margin-bottom: 2px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  align-items: center;
  color: rgb(112, 109, 109);
  &:hover {
    background-color: white;
    color: #bb1e1e;
    cursor: pointer;
  }
}
